:root{
    --text: white;
    --bg: black;
}
body {
    background-color: var(--bg);
}
h1{
    color: var(--text);
}
p{
    color: var(--text);
}

#center{
    text-align: center;
}
#text{
    text-align: center;
}